// Fonts
$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
$font-color: #444
$border-color: #BABABA

*
  margin: 0
  padding: 0

html,
body
  width: 100%
  height: 100%
  background: #FFF
  color: $font-color

body
  font: 62.5% $font-family

h1
  font-size: 1.8em
  margin: 0

a
  color: #996633
  text-decoration: none

  &:hover
    color: #644323
    text-decoration: underline

#map_canvas
  width: 100%
  height: 100%
  margin-top: 41px

header
  top: 0
  left: 0
  right: 0
  height: 40px
  position: fixed
  font-size: 1.3em
  background: #333
  color: #FFF
  z-index: 5

  ul
    float: right
    margin-top: 12px

  li
    float: left
    margin-right: 2em
    list-style: none

#logo a
  top: 0
  left: 20px
  position: absolute
  font-size: 1.4em
  font-weight: normal

.twitterticker
  width: 50%
  bottom: 0px
  left: 3em
  right: 3em
  position: fixed
  margin: 0 auto

  li
    color: $font-color
    background: #000
    background: rgba(252, 252, 252, 0.85)
    bottom: -200px
    display: block
    font-size: 1.6em
    left: 0
    padding: 1em
    position: absolute
    right: 0
    -webkit-border-radius: 5px 5px 0 0
    -moz-border-radius: 5px 5px 0 0
    border-radius: 5px 5px 0 0
    border-top: solid 1px $border-color
    border-right: solid 1px $border-color
    border-left: solid 1px $border-color

    .avatar
      border: 1px solid $border-color
      float: left
      margin-right: 1em
      width: 48px
      height: 48px
      overflow: hidden

      img
        display: block

    blockquote::after,
    blockquote::before
      color: #666
      content: '"'

    .meta
      color: #666
      font-size: 0.8em
      font-style: italic

    a.nsfailmatch
      font-weight: bold

.box
  width: 336px
  padding: 0 20px 30px
  background: #fbfbfb
  -webkit-box-shadow: 0 0 0 8px rgba(0,0,0,.3)
  -moz-box-shadow: 0 0 0 8px rgba(0,0,0,.3)
  box-shadow: 0 0 0 8px rgba(0,0,0,.3)
  overflow: hidden
  -webkit-border-radius: 4px
  -moz-border-radius: 4px
  border-radius: 4px

  h1
    margin: 0 -20px 25px
    padding: 0 20px
    line-height: 2em
    font-size: 2em
    background: #EAEAEA
    border-bottom: solid 1px #BABABA
    -webkit-box-shadow: inset 0 -1px 0 0 #FFF
    -moz-box-shadow: inset 0 -1px 0 0 #FFF
    box-shadow: inset 0 -1px 0 0 #FFF
  
  h2
    font-size: 1.4em
    margin: 0.75em 0 0.25em
  
  p
    font-size: 1.4em
    line-height: 1.5em
    margin-bottom: 1.5em
  
    &:last-child
      margin-bottom: 0

#cities
  top: 110px
  left: 100px
  position: absolute

  ul
    height: 105px
    margin: 16px 0 0 -10px
    overflow: hidden
  
  li
    float: left
    margin: 10px 0 0 10px
    list-style: none

  a
    float: left
    line-height: 23px
    background: url("images/left_tag.png") no-repeat, url("images/bg_tag.png") right
    display: block
    padding: 0 10px 0 20px
    font-size: 1.2em
    font-weight: bold
    text-shadow: 0 1px 1px #FFF
    color: #996633

    &:hover
      color: $font-color

#about
  position: fixed
  right: 5em
  z-index: 99999
  top: 5em

.pin
  width: 38px
  height: 45px
  top: 367px
  left: 703px
  position: absolute
  display: block
  padding-top: 8px
  text-align: center
  font-size: 1.4em
  font-weight: bold
  color: #fff
  text-shadow: 0 1px 1px $font-color
  background: url("images/pin.png")

  &:hover
    color: #FFF