#map_canvas

%section.box#cities
  %h1 Top Failing Cities
  %ul
    %li
      %a{:href => '#'} Amsterdam
    %li
      %a{:href => '#'} Utrecht
    %li
      %a{:href => '#'} Delft
    %li
      %a{:href => '#'} Leiden
    %li
      %a{:href => '#'} Den Haag
    %li
      %a{:href => '#'} Groningen
    %li
      %a{:href => '#'} Rotterdam
    %li
      %a{:href => '#'} Maastricht
    %li
      %a{:href => '#'} Den Bosch
    %li
      %a{:href => '#'} Arnhem
    %li
      %a{:href => '#'} Arnhem
