!!!

%html
  %head
    %meta{'charset' => 'utf-8'}
    %title #NSFail.nl
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1'}
    %link{:href => '/application.css', :media => 'screen', :rel => 'stylesheet', :type => 'text/css'}
  %body

    %header#header
      %h1 NSFAIL

    = yield

    %footer#footer

  %script{:type => 'text/javascript', :src => 'http://code.jquery.com/jquery-1.6.4.min.js'}
  %script{:type => 'text/javascript', :src => 'http://maps.googleapis.com/maps/api/js?sensor=false'}
  %script{:type => 'text/javascript', :src => '/javascripts/twitterticker.js'}
  %script{:type => 'text/javascript', :src => '/javascripts/application.js'}
